body {
    background-color: #ddd;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    margin: 1em auto;
    max-width: 120ex;
    padding: 0 5%;
}

header {
    background-color: #222;
    border-radius: 1ex;
    color: #eee;
    padding: .25em 1ex;
    text-align: center;
}

header h1 {
    font-size: 32pt;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Condensed Black', sans-serif;
}

h1, h2 {
    margin: 1em 0 0 0;
}

h3, p {
    margin: 0 0 .5em 0;
}

a {
    border-radius: .5ex;
    color: #f60;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 1pt;
}

a:visited {
    color: #f90;
}

a:hover {
    color: #f60;
    background-color: #fff;
}

input[type="submit"] {
    border-radius: .5ex;
    background-color: #f60;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14pt;
    padding: 2px 1ex;
    text-decoration: none;
}

textarea#description {
    min-height: 5em;
}

form, table {
    background-color: #eee;
    border-radius: .5ex;
    margin: 0 0 2em 0;
    padding: .5em 1ex;
}

table {
    width: 100%
}


tr:hover {
    background-color: #ddd;
}

td, th {
    text-align: left;
}

td {
    border-top: 1px solid #ddd;
}

label {
    display: inline-block;
    min-width: 15ex;
    vertical-align: top;
}
