<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ podcast.title }}: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ podcast.title }} Admin</h1>
    <nav>
        <a href="{{ url_for('episode_list') }}">All Episodes</a>
        <a href="{{ url_for('episode_create') }}">New Episode</a>
    </nav>
    {% block content %}{% endblock %}
    {%- if error %}<p class="error">{{ error }}</p>{% endif %}
  </body>
</html>
