{% extends "admin/base.html" %}
{% block title %}Episodes{% endblock %}
{% block nav %}{% include 'admin/nav.html' %}{% endblock %}

{% block content %}
<h2>Episodes</h2>
<table>
<thead>
<tr>
    <th>Title</th>
    <th>Date</th>
    <th>Keywords</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>
{% for episode in episodes %}
<tr>
    <td>{{ episode.title }}</td>
    <td>{{ episode.published|datetime }}</td>
    <td>{{ episode.keywords|episode_keywords }}</td>
    <td><a href="{{ url_for('episode_update', episode_id=episode.item_id) }}">Edit</a></td>
    <td><a href="{{ url_for('episode_delete', episode_id=episode.item_id) }}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
